<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokbhushan News - Latest News, Breaking News, Top Headlines</title>
    <meta name="description" content="Lokbhushan News brings you the latest news, breaking news, top headlines, and in-depth coverage from around the world. Stay informed with Lokbhushan News." />
    <meta name="keywords" content="Lokbhushan News, latest news, breaking news, top headlines, world news, local news" />
    <meta name="author" content="Lokbhushan News Team" />
    <meta property="og:title" content="Lokbhushan News - Latest News, Breaking News, Top Headlines" />
    <meta property="og:description" content="Lokbhushan News brings you the latest news, breaking news, top headlines, and in-depth coverage from around the world. Stay informed with Lokbhushan News." />
    <meta property="og:url" content="https://www.lokbhushannews.com" />
    <meta property="og:type" content="website" />
    
    <link rel="canonical" href="https://www.lokbhushannews.com" />
    <meta name="robots" content="index, follow" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <style>
            .form-control{
                border-color: red;
            }
        </style>
</head>